@import "reset.css";

body{
    background-color: #f2f8ff;
}
*{
    box-sizing: border-box;
}

/* 중복 */



/* 헤더 */
.header{
    width: 100%;

    height: 60px;
    background-color: #fff;
    color : #000;
    font-size: 20px;
    font-weight: 700;

    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    box-shadow: 0px 4px 10px -2px rgba(103, 119, 133, 0.2);
    z-index: -1;
    
}


.header i {
    margin-right: 8px;
    margin-bottom: 2px;
}

.header span{
    font-size: 14px;
    font-weight: 300;
    color: #4d5a64;
    margin-left: 36px;
}

.header--left{}
.header--left a{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}
.header--user{
    font-size: 14px;
    text-align: right;
    font-weight: 400;
}

.header--user i {
    margin-right: 8px;
}

/* 네비, 콘텐츠 그리드 설정 */
.navContents--wrap{
    z-index: 10;
    display: grid;
    grid-template-columns: 200px 1fr;
    /* border:5px solid pink; */
}

/* 네비 */
.nav--nav{
    /* 텍스트 컬러 */
    color: #7c838c;
    background-color:#41454A;
    padding: 36px 24px 0 24px;

    
}
.nav--items{}
.nav--item{
    padding-bottom: 16px;
    border-bottom: #3e4146 2px solid;
    width: inherit;
    margin-bottom: 16px;
}




.nav--item a{ 
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

.nav--item a:hover {
    color: #fff;
}



/* 콘텐츠 */
.content{
    /* float: left; */
    margin: 40px;
}
/* ------계산기*/
.title{
font-size: 24px;
margin-bottom: 36px;
}



.calcTable{
    width: inherit;
    /* 본문 폰트 컬러 */
    color: #41454A;
}
.input--css{
  border: none;
  outline: none;

  outline: rgb(135, 167, 235) 1px solid;
    
}






/* 인덱스 html에 있는 부분 */
.desc{
    width: inherit;
    height: 600px;
    /* 본문 폰트 컬러 */
    color: #41454A; 
}
.desc--title{
    font-size: 18px;
    padding-bottom: 8px;
    font-weight: 600;

}
.desc--contents{
    font-size: 16px;
    color :#60666e; 
    margin-bottom: 36px;
}

/* 계산기 히스토리 */
.calcTable--history--titleWrap{
display: flex;
justify-content: space-between;
align-items: center;
/*  */

}
.margin--bottom-h2{
    margin: 36px 0 16px 0 ;
}


.h2--title{
    font-size: 24px;
}
.exeleExport{
}
.clacTable--history{
    width: inherit;
    height: 100%;
}


/* 플로팅 버튼
.floatBnt{
    width: 60px;
    height: 60px;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    position:sticky;
    bottom: 30px;
    margin-left: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
float: left;
    
} */




/* 댓글 높이 사이즈 설정 */
.coment--heightSize{
    height: 100vh;
}
/* 푸터 */
.footerWrap{
    width: inherit;
    height: 200px;
    background-color: #f2f8ff;
    border-top: #ccc solid 1px;
    padding: 24px 36px 0px 24px;

    color: #60666e96;

}

.footer--logo{
    font-size: 24px;
    margin-bottom: 16px;
}

.footer--contents{
    font-size: 14px;
    line-height: 1.5em;
    max-width: 800px;
}


/* 표 */

.th--th{
    padding-bottom: 10px;
    padding: 8px 0;
    width: 200px;

    border-bottom: #ccc 1px solid;


    text-align: center;
}

.td--td {
    padding-bottom: 10px;
    padding: 8px 0;


    border-bottom: #ccc 1px solid;


    text-align: center;
    
}

table caption {
    font-size: 14px;
    margin-top: 16px;
}